/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: tan;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#container {
  display: flex;
  background-image: url('https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90vw 100vw;
  height: 100%;
  font-size: 3vw;
  flex-direction: column;
  align-items: center;
}
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  font-size: 4vw;
  width: 70vw;
  height: 6vw;
  background-color: rgb(178, 226, 226);
  border: solid .8vw black;
}
#world-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vw;
  width: 100vw;
}
#country-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 4vw;
  border: solid .5vw black;
  background-color: rgb(228, 211, 180);
}
#map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60vw;
}
#map-canvas {
  width: 60vw;
  height: 60vh;
    background: url('https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  border: solid 1vw rgb(22, 21, 21);
  border-style: outset;
  /* border: groove 20px rgb(130, 90, 90); */
}
#country-name {
  display: flex;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-size: 3vw;
  text-decoration: underline;
  flex-direction: row;
  justify-content: center;
}